@model WeAreFootball.Web.ViewModels.Events.EventViewModel

<div class="single-recipe-layout1">
    <section id="contant" class="contant main-heading team">
        <div class="row">
            <div class="container">
                <div class="col-md-12 col-sm-12">
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <div class="full">
                            <h3>@Model.LeagueName</h3>
                            <ul class="icon-list">
                                <li><i class="fa fa-angle-right"></i> Info : @Model.Content</li>
                                <li><i class="fa fa-angle-right"></i> Date : @Model.Date.ToString("MMMM dd, yyyy")</li>
                                <li><i class="fa fa-angle-right"></i> Sign : @Model.Sign</li>
                                <li><i class="fa fa-angle-right"></i> Added By : @Model.AddedByUser</li>

                            </ul>
                            <ul class="entry-meta">
                                <li class="single-meta">
                                    <ul class="item-rating">
                                        <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                                        <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                                        <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                                        <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                                        <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                                        <li><span id="averageVoteValue">@Model.AverageVote.ToString("0.0")</span><span> / 5</span> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <img class="img-responsive" src="@Model.ImgUrl" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var parsedValue = parseInt(value);
                var eventId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { eventId: eventId, value: parsedValue };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
