@using WeAreFootball.Common
@model WeAreFootball.Web.ViewModels.Newses.NewsViewModel

@{
    string[] awolledTags = {
            "Juventus" ,"Manchester City" ,"Leicester City","Southampton" ,"Chelsea"
            ,"Tottenham Hotspur","Sevilla" ,"AS Monaco" ,"RB Leipzig" ,"Napoli" ,"Paris SG"
            ,"Liverpool" ,"Bayern München" ,"Borussia Dortmund" ,"Arsenal" ,"Everton"
            ,"Leeds United" ,"Atalanta" ,"Fiorentina" ,"Inter Milan" ,"Lazio" ,"Sampdoria"
            ,"Torino" ,"Lille" ,"Lyon" ,"Marsellie" ,"Atletico Madrid" ,"Atletic Bilbao"
            ,"Celta Vigo" ,"Valencia CF" ,"Villareal FC" ,"Bayer Leverkusen" ,"Borussia Monchengladbah"
            ,"Koln FC" ,"Eintraht Francfurt", "Barcelona", "Real Madrid", "AC Milan", "Manchester United","Roma"};
}

@{
    this.ViewData["Title"] = Model.Title;

    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }


        @foreach (var comment in comments)
        {
            <div class="container-fluid mt-100">
                <div class="col-lg-11 col-md-11 col-sm-11">
                    <div class="commant-text row">
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-hidden">
                            <div class="profile">
                                <img class="img-responsive" src="@comment.ApplicationUserImage">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-hidden">
                            <h5>@comment.ApplicationUserUserName</h5>
                            <p>
                                <span class="c_date">@comment.CreatedOn.ToString("MMMM dd, yyyy")</span>
                            <p class="msg">
                                @Html.Raw(comment.SanitizedContent)
                            </p>
                            @if (this.User.Identity.IsAuthenticated)
                            {
                                <div class="px-2 pt-3"> <button type="button" class="btn btn-secondary" onclick="showAddCommentForm(@comment.Id)"><i class="fa fa-plus"></i>&nbsp; Reply</button> </div>
                            }

                            @{ DisplayComments(comment.Id); }
                        </div>
                    </div>
                </div>
            </div>
        }

    }
}

@if (this.TempData["InfoMessage"] != null)
{
    <div class="alert alert-success">
        @this.TempData["InfoMessage"]
    </div>
}

<h1>@Model.Title</h1>
<section id="contant" class="contant main-heading single-blog">
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <div class="feature-post">
                    <div class="feature-img">
                        <img class="img-responsive" src=@Model.ImgUrl style="width:100%">
                    </div>
                    <div class="feature-cont">
                        <div class="post-people">
                            <div class="left-profile">
                                <div class="post-info">
                                    @if (Model.AddedByUser == null)
                                    {
                                        <img src="~/images/logoSource.jpg" alt="#" />
                                    }
                                    else
                                    {
                                        <img src="@Model.UserImage" alt="#" />
                                    }
                                    <span>
                                        @if (Model.AddedByUser == null)
                                        {
                                            <h4>by @Model.Source</h4>
                                        }
                                        else
                                        {
                                            <h4>by @Model.AddedByUser</h4>
                                        }
                                        <p><span class="c_date">on @Model.CreatedOn.ToString("MMMM dd, yyyy")</span></p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="tag-wrapper">
                            <div class="tag">
                                @foreach (var tag in Model.NewsTags)
                                {
                                    if (awolledTags.Contains(tag.TagName))
                                    {
                                        <a asp-area="" asp-controller="Teams" asp-action="ByTagName" asp-route-tagName="@tag.TagName"><label>#@tag.TagName</label></a>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tag-wrapper">
                            <div class="tag">
                                @foreach (var tag in Model.NewsLeagues)
                                {
                                    <a asp-area="" asp-controller="Leagues" asp-action="ById" asp-route-id="@tag.LeagueId"><label>#@tag.LeagueName</label></a>
                                }
                            </div>
                        </div>
                        <div class="post-heading">
                            <article> @Html.Raw(Model.SanitizedContent)</article>
                        </div>
                    </div>

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="px-4 pt-3"> <button type="button" class="btn btn-primary float-right" onclick="showAddCommentForm(0)"><i class="fa fa-plus"></i>&nbsp; Comment</button> </div>
                        <div class="clearfix"></div>
                    }


                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <a class="btn btn-success" asp-area="" asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                        <form method="post" asp-area="Administration" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id"> </form>
                        <button class="btn btn-success" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    }

                    <div class="clearfix"></div>
                    <br />
                    @{ DisplayComments(null); }
                </div>
            </div>

            <div class="col-md-4">
                <h3>Similar news</h3>
                <div class="posts margin-bottom-40">
                    <div class="container">
                        @foreach (var item in Model.SimilarNews)
                        {
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card card-hover h-100">
                                        <div class="card-body">
                                            <a asp-area="" asp-controller="News" asp-action="ById" asp-route-id="@item.Id"> <img class="img-responsive" src="@item.ImgUrl" alt="#" /></a>
                                            <h3 class="card-title">@item.ShortTitle</h3>
                                            <div class="reveal bg-warning p-2">
                                                <a asp-controller="News" asp-action="ById" asp-route-id="@item.Id"> <h5>@item.ShortContent</h5></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["image paste table link code media"]
    });
</script>
<div>
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="NewsId" value="@this.Model.Id" />
        <input type="hidden" name="ParentId" value="0" />
        <div>
            <label for="Content"></label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }
    </script>
}


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete @Model.ShortTitle"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
